<!DOCTYPE html>
<html>
  <head>
    <title>Account</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= account_info.username %></h1>
    <h1><%= account_info.email %></h1>
  </body>
</html>
